body{
    background-color: black;
    color: white;
    font-size: larger;
}
input {
    border: none;
    border-bottom: 1px solid white;
    background-color: transparent;
    padding: 0;
    margin: 0;
    color: white;
}
#button{
    background-color: white;
    padding: 5px 15px 5px 15px;
    color: black;
    
}
#button:hover{
    background-color: aqua;
}
input[type="radio"] {
    -webkit-appearance: none; 
    appearance: none;
    background-color: transparent; 
    border: 1px solid #ccc; 
    border-radius: 50%; 
    width: 16px; 
    height: 16px;
    margin-right: 5px; 
}

input[type="radio"]:checked {
    background-color: blue; 
}

input[type="checkbox"] {
    -webkit-appearance: none; 
    appearance: none;
    background-color: transparent; 
    border: 1px solid #ccc; 
    /* border-radius: 50%;  */
    width: 16px; 
    height: 16px;
    margin-right: 5px; 
}

input[type="checkbox"]:checked {
    background-color: blue; 
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1); 
}
